<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd 
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
  
    <!--  spring bean cfg  by  enabling static  factory method bean instantiation -->
    <bean id="ldt"  name="l1,l2" class="java.time.LocalDateTime"  factory-method="now"  primary="true"  />
    
    <alias name="ldt" alias="l3"/>
    <alias name="ldt" alias="l4"/>
    <alias name="l4" alias="lt"/>
    
    
    <alias name="wmg" alias="w1"/>
    
    
    
    
    
    <bean id="dateTime" class="java.time.LocalDateTime"  factory-method="of"  >
        <constructor-arg name="year" value="2020"/>
        <constructor-arg name="month" value="10"/>
        <constructor-arg name="dayOfMonth" value="30"/>
        <constructor-arg name="hour" value="11"/>
        <constructor-arg name="minute" value="50"/>
        <constructor-arg name="second" value="20"/>
    </bean>
    
      <bean id="ldt2" class="java.time.LocalDateTime"  factory-method="of"  >
        <constructor-arg name="year" value="2021"/>
        <constructor-arg name="month" value="11"/>
        <constructor-arg name="dayOfMonth" value="25"/>
        <constructor-arg name="hour" value="10"/>
        <constructor-arg name="minute" value="40"/>
        <constructor-arg name="second" value="21"/>
    </bean>
    
    
    
    <!-- enable  component scanning to recongize  user-defined @Component classes as spring beans -->
    <context:component-scan base-package="com.nt.sbeans"/>
  
  
  </beans>